<%- include('partials/header'); %>
<h1>IEEE</h1>
<p>Welcome to IEEE at ONU, here you can find and register for our events!</p>
<div class="post-container">
<% posts.forEach(post => { %>
   <a class="event-link" href="/posts/<%= post._id %>">
      <div class="post-card" >
         <div class="post-image">
            <img src="images/temp_image.jfif">
            <p></p>
         </div>
         <div class="post-item">
            <h2><%= post.postTitle %></h2>
            <p class="postBody"><%= _.truncate(post.postBody, {'length': 100, 'omission': ' ...'}) %></p>
         </div> 
      </div>
   </a>
<% }) %>
</div>
<%- include('partials/footer'); %>